---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div itemprop="articleBody">
    {{ content }}
  </div>

  <p class="post-meta">
    Written by {{ site.author }} on {{ page.date | date: site.date_format }}.
    Tags:
    {% for tag in site.tags %}
      {% if page.tags contains tag.name or tag.name == page.tags %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ tag.url }}">{{ tag.name }}</a>
      {% endif %}
    {% endfor %}
  </p>

  <script src="https://utteranc.es/client.js"
      repo="remcokranenburg/blog"
      issue-term="pathname"
      label="post-comments"
      theme="github-light"
      crossorigin="anonymous"
      async>
  </script>
</article>
